<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546177265088-ll93f5utg5cb7v6ltcrpj69pi5ms3k6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546177265088-ll93f5utg5cb7v6ltcrpj69pi5ms3k6i</string>
	<key>API_KEY</key>
	<string>AIzaSyBB0Qv0kNZx0SawGXWoSGQAY8Q7FRyvYUY</string>
	<key>GCM_SENDER_ID</key>
	<string>546177265088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rexchange.rexchange</string>
	<key>PROJECT_ID</key>
	<string>rexchange-bfb0a</string>
	<key>STORAGE_BUCKET</key>
	<string>rexchange-bfb0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546177265088:ios:da17137617cca63f6eec25</string>
	<key>DATABASE_URL</key>
	<string>https://rexchange-bfb0a-default-rtdb.firebaseio.com</string>
</dict>
</plist>